
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0;
    left: 0;
    width: em(50px);
    height: em(71px);
    z-index: 100;

    background-image:url('/images/moyes.png');

    transform: translateZ(0);
}


.LWing {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 21px;
    left: -42px;
    width: em(50px);
    height: em(71px);
    z-index: 0;

    background-image:url('/images/left-wing.png');
    background-repeat: no-repeat;

    transform: translateZ(0);
}

.RWing {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 21px;
    left: 40px;
    width: em(50px);
    height: em(71px);
    z-index: 0;

    background-image:url('/images/right-wing.png');
    background-repeat: no-repeat;

    transform: translateZ(0);
}
