
.Scoreboard, .Start{
	position: absolute;
	left: 50%;
	top: em(100px);
	height: em(300px);
	width: em(400px);
	margin-left: em(-200px);
	box-sizing: border-box;
    border-radius: em(10px);
    border: em(2px) solid #2ca2ce;
    opacity:0.9;

	background: white;
	text-align: center;

	// Keep it off-screen
	transform: translate(0, em(-400px));
	transition: transform 0.5s;
}

/**
 * Reset transform to animate it into the correct spot on the screen.
 */

.Scoreboard.is-visible {
	transform: none;
}

.Scoreboard-restart {

	margin-top: em(150px);
	font-size: inherit;
	padding: em(4px) em(15px);
	border: em(2px) solid black;
	background: none;
	cursor: pointer;
}

.Scoreboard-restartText {
	font-family: 'Ubuntu', serif;
	font-size: em(24px);
	color: black;
}

.Score {
    font-family: impact;
    font-size: em(114px);
    position: inherit;
    margin-left: em(-2px);
    text-align: inherit;
}
